body{
  background:#f5f7fb;
}

.producto-card{
  transition: all .3s ease;
}

.producto-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.15) !important;
}

footer a{
  transition: .3s;
}

footer a:hover{
  color: #facc15 !important;
}

.badge{
  font-size: .9rem;
  padding: .6rem .8rem;
}